%div
  %h1.display-4.text-md-center The 2016 Collegiate Salsa Open
  %p.lead.text-md-center May 7th, 2016: Second Annual
  .row
    .col-md-6
      %h2 Competition Champions
      = render partial: 'pages/archive/participation',
               locals: {title: '1st Place: San Jose State University',
                        subtitle: 'Spartan Mambo',
                        icon: 'trophy',
                        facebook_link: 'https://www.facebook.com/spartanmambo'}
      = render partial: 'pages/archive/participation',
               locals: {title: '2nd Place: University of Southern California',
                        subtitle: 'Break On 2',
                        icon: 'trophy',
                        facebook_link: 'https://www.facebook.com/BreakOn2'}
      = render partial: 'pages/archive/participation',
               locals: {title: '3rd Place: California State University, Long Beach',
                        subtitle: 'CSULB Salsa',
                        icon: 'trophy',
                        facebook_link: 'https://www.facebook.com/csulbsalsaclub.official'}
      %h2 Honorable Mentions
      = render partial: 'pages/archive/participation',
               locals: {title: 'California State University, Northridge',
                        subtitle: 'Salsa Libre',
                        icon: 'star',
                        facebook_link: 'https://www.facebook.com/Csunsalsalibre1'}
      = render partial: 'pages/archive/participation',
               locals: {title: 'San Diego State University',
                        subtitle: 'SDSU Salsa Club',
                        icon: 'star',
                        facebook_link: 'https://www.facebook.com/sdsusalsa'}
      %h2 Memories
      %p
        %span.fa.fa-camera
        = link_to 'Workshops',
                  'https://www.facebook.com/media/set/?set=a.1089749414404964.1073741938.230041713709076', target: '_blank'
      %p
        %span.fa.fa-camera
        = link_to 'Social Dancing',
                  'https://www.facebook.com/media/set/?set=a.1091838074196098.1073741939.230041713709076', target: '_blank'
    .col-md-6
      %h2 Performances
      = render partial: 'pages/archive/participation',
               locals: {title: 'California State University, Long Beach',
                        subtitle: 'CSULB Salsa',
                        icon: 'star-o',
                        facebook_link: 'https://www.facebook.com/csulbsalsaclub.official'}
      = render partial: 'pages/archive/participation',
               locals: {title: 'California State University, Northridge',
                        subtitle: 'CSUN Salsa Libre',
                        icon: 'star-o',
                        video_link: 'https://vimeo.com/166760466',
                        facebook_link: 'https://www.facebook.com/Csunsalsalibre1'}
      = render partial: 'pages/archive/participation',
               locals: {title: 'El Camino College',
                        subtitle: 'El Co Salseros',
                        icon: 'star-o',
                        video_link: 'https://vimeo.com/166761242',
                        facebook_link: 'https://www.facebook.com/groups/ECCSALSA'}
      = render partial: 'pages/archive/participation',
               locals: {title: 'Marymount California University',
                        subtitle: 'Xtreme Marymount California University Dance Team',
                        icon: 'star-o',
                        video_link: 'https://vimeo.com/166758841'}
      = render partial: 'pages/archive/participation',
               locals: {title: 'San Diego State University',
                        subtitle: 'SDSU Salsa Club',
                        icon: 'star-o',
                        video_link: 'https://vimeo.com/166760833',
                        facebook_link: 'https://www.facebook.com/sdsusalsa'}
      = render partial: 'pages/archive/participation',
               locals: {title: 'San Jose State University',
                        subtitle: 'Spartan Mambo',
                        icon: 'star-o',
                        video_link: 'https://vimeo.com/166761592',
                        facebook_link: 'https://www.facebook.com/spartanmambo'}
      = render partial: 'pages/archive/participation',
               locals: {title: 'Southwestern College',
                        subtitle: 'Southwestern Bachata',
                        icon: 'star-o',
                        video_link: 'https://vimeo.com/166759611'}
      = render partial: 'pages/archive/participation',
               locals: {title: 'Southwestern College',
                        subtitle: 'Southwestern Salsa',
                        icon: 'star-o',
                        video_link: 'https://vimeo.com/166758163'}
      = render partial: 'pages/archive/participation',
               locals: {title: 'University of California, Los Angeles',
                        subtitle: 'Salsa Society at UCLA',
                        icon: 'star-o',
                        video_link: 'https://vimeo.com/166759318',
                        facebook_link: 'https://www.facebook.com/groups/Salsasocietatucla'}
      = render partial: 'pages/archive/participation',
               locals: {title: 'University of California, Riverside',
                        subtitle: 'Salsiente Performance Team',
                        icon: 'star-o',
                        video_link: 'https://vimeo.com/166760080',
                        facebook_link: 'https://www.facebook.com/The-Salsa-Club-at-UCR-42733570912'}
      = render partial: 'pages/archive/participation',
               locals: {title: 'University of California, Santa Cruz',
                        subtitle: 'Sabrosura',
                        icon: 'star-o',
                        video_link: 'https://vimeo.com/166757839',
                        facebook_link: 'https://www.facebook.com/sabrosura.dance'}
