.card
  .card-block
    %h4.card-title= event.name
    .lead.card-subtitle.text-muted= event.event_start.strftime('%A, %B %e, %Y')
    %p.card-text= event.description
  %ul.list-group.list-group-flush
    - if defined? ticket
      %li.list-group-item
        .fa.fa-ticket
        #{ticket.ticket_option.name} for #{ticket.user.first_name} #{ticket.user.last_name}
  .card-footer.text-xs-center
    - if defined? ticket
      = link_to 'Details', ticket_path(ticket), class: 'btn btn-secondary-outline'
    - else
      = link_to 'Buy Ticket', event_path(event), class: 'btn btn-primary-outline'
