.content
  %h1 Tickets
  - unless @upcoming_purchased_tickets.empty?
    %h2 Your Upcoming Tickets
    %ul
      - @upcoming_purchased_tickets.each do |ticket|
        %li
          = ticket.event.event_start.strftime('%A, %B %e, %Y')
          #{ticket.event.name} (#{ticket.ticket_option.name})
          = link_to 'Details', ticket_path(ticket), class: 'btn btn-secondary'
  - unless @purchasable_events.empty?
    %h2 Tickets For Sale
    .row
      - @purchasable_events.each do |event|
        .col-sm-6.col-md-4
          .card.card-block
            %h4.card-title= event.name
            .lead.card-subtitle.text-muted= event.event_start.strftime('%A, %B %e, %Y')
            %p.card-text The best event ever.
            .text-xs-center
              = link_to 'Purchase', event_path(event), class: 'btn btn-primary-outline'
