.content
  %h1 Tickets
  - unless @upcoming_purchased_tickets.empty?
    %h2 Your Upcoming Tickets
    %ul
      - @upcoming_purchased_tickets.each do |ticket|
        %li
          = ticket.event.event_start.strftime('%A, %B %-d, %Y')
          #{ticket.event.name} (#{ticket.ticket_option.name})
          = link_to 'View Ticket', ticket_path(ticket), class: 'btn btn-secondary'
  - unless @purchasable_events.empty?
    %h2 Tickets For Sale
    %ul
      - @purchasable_events.each do |event|
        %li
          %h2
            = event.name
            = link_to 'Purchase', event_path(event), class: 'btn btn-secondary'
