%section.home-section#cso-2015
  %div
    %h1.display-4.text-md-center The 2015 Collegiate Salsa Open
    %p.lead.text-md-center April 25th, 2015: First Annual
    .row
      .col-md-6
        %h2 Competition Champions
        %p
          %span.fa.fa-trophy.fa-4x.fa-pull-left
          %h5 1st Place: San Jose State University
          (Spartan Mambo)
        %p
          %span.fa.fa-trophy.fa-4x.fa-pull-left
          %h5 2nd Place: California State University, Northridge
          (CSUN Salsa Libre)
        %p
          %span.fa.fa-trophy.fa-4x.fa-pull-left
          %h5 3rd Place: University of Southern California
          (Break On 2)
        -#%h2 Memories
        -#%p
        -#  %span.fa.fa-camera
        -#  = link_to 'CSO 2015 Event (Lessons and Dancing)',
        -#            'https://www.facebook.com/media/set/?set=a.896759017037339.1073741892.230041713709076', target: '_blank'

      .col-md-6
        %h3 21 Colleges in Attendance
        %ul.list-unstyled
          %li
            Cal Poly Pomona (Cal Poly Pomona Salsa Dance Team)
          %li
            Cal Poly San Luis Obispo (CPSalsa)
          %li
            California State University, Fullerton (Cal State Fullerton Salsa Club)
          %li
            California State University, Long Beach (CSULB Salsa)
            %ul.fa-ul
              %li
                %span.fa-li.fa.fa-camera
                = link_to 'Performance Pictures',
                  'https://www.facebook.com/media/set/?set=a.895309843848923.1073741885.230041713709076', target: '_blank'
          %li
            California State University, Northridge (CSUN Salsa Libre)
            %ul.fa-ul
              %li
                %span.fa-li.fa.fa-camera
                = link_to 'Performance Pictures',
                  'https://www.facebook.com/media/set/?set=a.893902180656356.1073741883.230041713709076', target: '_blank'
              %li
                %span.fa-li.fa.fa-camera
                = link_to 'Competition Pictures',
                  'https://www.facebook.com/media/set/?set=a.895969630449611.1073741890.230041713709076', target: '_blank'
          %li
            California State University, Sacramento (Salsa Loca)
          %li
            California State University, San Bernardino (CSUSB Salchata Club)
          %li
            Claremont Colleges (Salsa Addicts)
          %li
            El Camino College (El Co Salseros)
            %ul.fa-ul
              %li
                %span.fa-li.fa.fa-camera
                = link_to 'Performance Pictures',
                  'https://www.facebook.com/media/set/?set=a.895267207186520.1073741884.230041713709076', target: '_blank'
          %li
            Loyola Marymount University (LMU Salsa Club)
          %li
            Pasadena City College (Candela Salsa Club)
          %li
            San Diego State University (SDSU Salsa Club)
            %ul.fa-ul
              %li
                %span.fa-li.fa.fa-camera
                = link_to 'Performance Pictures',
                  'https://www.facebook.com/media/set/?set=a.893885420658032.1073741881.230041713709076', target: '_blank'
          %li
            San Jose State University (Spartan Mambo)
            %ul.fa-ul
              %li
                %span.fa-li.fa.fa-camera
                = link_to 'Competition Pictures',
                  'https://www.facebook.com/media/set/?set=a.895932667119974.1073741888.230041713709076', target: '_blank'
          %li
            Santa Clara University (Salsa Clara)
          %li
            University of California, Irvine (UCI Salseros)
          %li
            University of California, Los Angeles (Salsa Society at UCLA)
            %ul.fa-ul
              %li
                %span.fa-li.fa.fa-camera
                = link_to 'Performance Pictures',
                  'https://www.facebook.com/media/set/?set=a.893893120657262.1073741882.230041713709076', target: '_blank'
              %li
                %span.fa-li.fa.fa-camera
                = link_to 'Competition Pictures',
                  'https://www.facebook.com/media/set/?set=a.895963523783555.1073741889.230041713709076', target: '_blank'
          %li
            University of California, Riverside (The Salsa Club at UCR & Salsiente Performance Team)
            %ul.fa-ul
              %li
                %span.fa-li.fa.fa-camera
                = link_to 'Performance Pictures (Salsiente)',
                  'https://www.facebook.com/media/set/?set=a.892813004098607.1073741880.230041713709076', target: '_blank'
              %li
                %span.fa-li.fa.fa-camera
                = link_to 'Competition Pictures',
                  'https://www.facebook.com/media/set/?set=a.895617247151516.1073741887.230041713709076', target: '_blank'
          %li
            University of California, Santa Barbara (Cotillion Dance Club: Strictly Social)
          %li
            University of California, Santa Cruz (Sabrosura)
            %ul.fa-ul
              %li
                %span.fa-li.fa.fa-camera
                = link_to 'Competition Pictures',
                  'https://www.facebook.com/media/set/?set=a.892787790767795.1073741879.230041713709076', target: '_blank'
          %li
            University of Southern California (Break On 2)
            %ul.fa-ul
              %li
                %span.fa-li.fa.fa-camera
                = link_to 'Performance Pictures',
                  'https://www.facebook.com/media/set/?set=a.895585290488045.1073741886.230041713709076', target: '_blank'
          %li
            Whittier College (Latin Dance at Whittier College)
