%section.home-section#event-information
  %div
    %h2.hidden-md-up Event Information
    .row
      .col-lg-offset-1.col-lg-5.center-flex
        %div
          %p.lead
            The Collegiate Salsa Open is the premiere salsa summit where dancers from colleges and communities all over
            California come together to celebrate our unique salsa scene through competitions, performances, and all-night
            social dancing. The CSO is organized by the college dance community for the college dance community.
          %p.text-xs-center
            = link_to 'Tickets', my_tickets_path, class: 'btn btn-lg btn-primary-outline'
            = link_to 'Past Events', root_path(anchor: 'cso-archive'), class: 'btn btn-lg btn-primary-outline page-scroll'
            = link_to 'About Us', root_path(anchor: 'about'), class: 'btn btn-lg btn-primary-outline page-scroll'
      .col-lg-6.center-flex
        %div
          %h2 Schedule
          %p
            %div
              %strong Workshops:
            %table.table.table-no-border
              %tr
                %td 3:00pm
                %td
                  %div
                    %strong Salsa Hip-Hop Fusion
                  %div Zweli Barton
                %td
                  %div
                    %strong Salsa On1
                  %div Alex Montilla & Victoria M
              %tr
                %td 4:00pm
                %td
                  %div
                    %strong Salsa On2
                  %div Omar Muñoz
                %td
                  %div
                    %strong Sensual Bachata
                  %div Leilani Davis and Robert Sanchez
              %tr
                %td 5:00pm
                %td
                  %div
                    %strong Salsa-Reggaeton On1
                  %div William Henry Carpenter & Eden Hayes Fleming
                %td
                  %div
                    %strong Zouk
                  %div Marissa Rivera and Rinaldo Melo
              %tr
                %td 6:00pm
                %td
                  %div
                    %strong Bachata Shines
                  %div Mike Zuniga
                %td
                  %div
                    %strong Ladies Bachata Styling
                  %div Valerie Ann Olivas
              %tr
                %td 7:00pm
                %td
                  %div
                    %strong Bachata Sensual
                  %div Aubrey Ares & Miguel Vilchis
                %td
                  %div
                    %strong Rueda de Casino
                  %div Peter Araiza and Jenny Mee
            %div
              %strong Performances:
              8:00pm - 9:00pm
            %div
              %strong Competition:
              9:00pm - 10:00pm
            %div
              %strong Social Dancing:
              10:00pm - 3:00am
          %hr
          %h2 Location
          %p
            %div The 2017 CSO will be held on
            %div Saturday, April 22nd, 2017
            %div in downtown Los Angeles.
          %p
            %div Hangar 21
            %address
              = link_to '3970 W Artesia Ave, Fullerton, CA 92833', 'https://goo.gl/maps/1anRUxKiWvN2', target: '_blank'
          %hr
          %h2 Rules
          %p= link_to '2017 Competition and Performance Rules', asset_url('/documents/2017CompetitionAndPerformanceTeamRules.pdf'), target: '_blank'
