- event_purchase = event_purchase_for_event_for_current_user(event)
.card
  .card-block
    %h4.card-title= event.name
    .lead.card-subtitle.text-muted= event.event_start.strftime('%A, %B %e, %Y')
    %p.card-text= event.description
  - unless event_purchase.nil?
    = render 'event_purchases/event_purchase', event_purchase: event_purchase
  .card-footer.text-xs-center
    - unless event_purchase.nil?
      = link_to 'Details', event_purchase_path(event_purchase), class: 'btn btn-secondary'
    - else
      = link_to 'Buy Ticket', new_event_event_purchase_path(event), class: 'btn btn-primary-outline'
