.content
  %h1 Purchase #{@ticket_option.name} for #{@event.name}
  = humanized_money_with_symbol @ticket_option.price
  = form_for ([@event, @ticket_option, @ticket]) do |f|
    = f.submit 'Purchase', {class: 'btn btn-primary'}
