.content
  %h1 #{@ticket.event.name} Confirmation
  %p Thanks #{@ticket.user.first_name}, you have a #{@ticket.ticket_option.name}!
  %p= render 'tickets/ticket', ticket: @ticket
  %p= render partial: 'tickets/ticket_price_breakdown', locals: {event: @ticket.event, ticket: @ticket}
  %p= link_to 'Refund Ticket', ticket_path(@ticket), method: :delete, class: 'btn btn-secondary'
