.content
  %h1 #{@ticket.event.name} Confirmation
  .card.card-block
    %p Thanks #{@ticket.user.first_name}, you have a #{@ticket.ticket_option.name}!
    %p= render 'tickets/ticket', ticket: @ticket
    %p= render partial: 'tickets/ticket_price_breakdown', locals: {event: @ticket.event, ticket: @ticket}
    %p
      = link_to 'Back', user_tickets_path, class: 'btn btn-primary-outline'
      %button.btn.btn-secondary{type: 'button', 'data-toggle': 'modal', 'data-target': '#refund-modal'} Refund Ticket

#refund-modal.modal.fade{tabindex: '-1', role: 'dialog', 'aria-labelledby': 'refund-modal-label', 'aria-hidden': 'true'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %button.close{type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close'}
          %span.fa.fa-times{'aria-hidden': 'true'}
        %h4#refund-modal-label.modal-title Confirm Ticket Refund
      .modal-body
        %p Are you sure you want to refund your ticket?
        %p
          %strong= @ticket.event.name
          = render 'tickets/ticket', ticket: @ticket
        %p= link_to 'Refund Ticket', ticket_path(@ticket), method: :delete, class: 'btn btn-danger', 'data-dismiss': 'modal'
