.row
  - event_purchase.event.addons.each do |addon|
    .col-md-4.text-md-center
      %h5= addon.name
      %p description
      %p
        %button.btn.btn-primary{type: 'button', 'data-toggle': 'modal', 'data-target': "#addon-modal-#{addon.id}"}
          Add #{addon.name}
- event_purchase.event.addons.each do |addon|
  .modal.fade{id: "addon-modal-#{addon.id}",tabindex: '-1', role: 'dialog', 'aria-labelledby': 'refund-modal-label', 'aria-hidden': 'true'}
    .modal-dialog{role: 'document'}
      .modal-content
        .modal-header
          %button.close{type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close'}
            %span.fa.fa-times{'aria-hidden': 'true'}
          %h4#refund-modal-label.modal-title Add #{addon.name}
        .modal-body
          %div description
          %div select quantity: 1
        .modal-footer
          %button{type: 'button', class: 'btn btn-secondary', 'data-dismiss': 'modal'} Cancel
          %button{type: 'button',
                  onclick: "$('#addon-modal-#{addon.id}').one('hidden.bs.modal', function() {App.addAddon(#{addon.id}, 1)})",
                  class: 'btn btn-primary',
                  'data-dismiss': 'modal'} Add to Ticket
