%ul.list-group.list-group-flush
  %li.list-group-item
    .fa.fa-ticket
    #{event_purchase.ticket_purchase.product.name}
    for #{event_purchase.user.first_name} #{event_purchase.user.last_name}
  - event_purchase.addon_purchases.each do |addon_purchase|
    %li.list-group-item
      .fa.fa-star
      - if addon_purchase.quantity > 1
        #{addon_purchase.quantity}x
      #{addon_purchase.product.name}
