= form_for event_purchase, html: {'data-ticket-form': ''} do |f|
  = f.hidden_field(:id)
  = f.fields_for :addon_purchases do |addon_purchases_fields|
    - unless addon_purchases_fields.object.persisted?
      = addon_purchases_fields.hidden_field(:product_id)
      = addon_purchases_fields.hidden_field(:quantity)
      = addon_purchases_fields.fields_for :product_purchase_option_choices do |choices_fields|
        = choices_fields.hidden_field(:option)
        = choices_fields.hidden_field(:choice)
  - if event_purchase_total_price(@event_purchase) > Money.new(0)
    %table.table
      - event_purchase.addon_purchases.each_with_index do |addon_purchase, index|
        - unless addon_purchase.persisted?
          %tr
            %td= addon_purchase.product.name
            %td #{addon_purchase.quantity} × #{humanized_money_with_symbol addon_purchase.product.price}
            %td= humanized_money_with_symbol addon_purchase.total_price
            %td.table-button-cell
              %button.btn.btn-link-icon{type: 'button', onclick: "App.removeAddon(#{index})"}
                %span.fa.fa-times
      %tr
        %td.text-xs-right{colspan: 2}
          %strong Subtotal
        %td= humanized_money_with_symbol event_purchase_base_price(@event_purchase)
        %td
      %tr
        %td.text-xs-right{colspan: 2}
          %strong Processing Fees
        %td= humanized_money_with_symbol event_purchase_processing_fees(@event_purchase)
        %td
      %tr
        %td.text-xs-right{colspan: 2}
          %strong Total Price
        %td= humanized_money_with_symbol event_purchase_total_price(@event_purchase)
        %td
    = render partial: 'event_purchases/checkout_button',
             locals: {email: user.email,
             name: event_purchase.event.name,
             description: 'Ticket Addons',
             amount: event_purchase_total_price(event_purchase).cents}


