- ticket_selected = !event_purchase.ticket_purchase.product.nil?
= form_for [event_purchase.event, event_purchase], html: {'data-ticket-form': ''} do |f|
  %h3 Choose a Ticket Option
  = f.fields_for :ticket_purchase do |ticket_purchase_form|
    = ticket_purchase_form.hidden_field(:quantity, value: '1')
    .form-group
      = ticket_purchase_form.collection_radio_buttons(:product_id, event_purchase.event.tickets, :id, :name) do |b|
        .c-inputs-stacked
          = b.label(class: 'c-input c-radio') do
            = b.radio_button({'data-ticket-form-update': ''})
            %span.c-indicator
            #{b.text} #{humanized_money_with_symbol b.object.price}
            %p
              %em.p-l-2= b.object.description
  = f.fields_for :addon_purchases do |addon_purchases_fields|
    = addon_purchases_fields.hidden_field(:product_id)
    = addon_purchases_fields.hidden_field(:quantity)
    = addon_purchases_fields.fields_for :product_purchase_option_choices do |choices_fields|
      = choices_fields.hidden_field(:option)
      = choices_fields.hidden_field(:choice)
  - if ticket_selected
    %p= render partial: 'event_purchases/addon_selection', locals: {event_purchase: event_purchase}
    %p= render partial: 'event_purchases/event_purchase_breakdown', locals: {event_purchase: event_purchase, user: user, editable: true}
    .form-group
      = render partial: 'event_purchases/checkout_button',
               locals: {email: user.email,
               name: event_purchase.event.name,
               description: event_purchase.ticket_purchase.product.name,
               amount: event_purchase_total_price(event_purchase).cents}
